<br>
    <h2 style="text-align: center;"><b>Some details about me</b></h2>
<br>

<div class="row">
    <div id="my-information" class="col-sm-6">
        <img src="../../../assets/developing.jpeg" class="card-img-top" alt="...">
        <p style="text-align: center;"><b>Developing software from Quillabamba City - Cusco</b></p>
    </div>
    <div id="my-information" class="col-sm-3">
        <div style="border-left: 2px solid white;">
            <p style="text-align: center;">My name is Nilo Fidel</p>
            <p style="text-align: center;">I am from Cusco - Peru </p>
            <p style="text-align: center;">I am bachelor in System Ingeneering with two years of experience developing software for peruvian and another countries.</p>
        </div>
        <br>
        <ul>
            <p><b>My developer skills</b></p>
            <li>Django</li>
            <li>.Net</li>
            <li>Angular</li>
            <li>Docker</li>
            <li>DevOps</li>
            <li>NestJs</li>
            <li>SqlServer</li>
            <li>Git</li>
            <li>Linux</li>
        </ul>
        <!-- <a href="mySkills" class="btn" id="more-details-btn">More details about that</a> -->

    </div>
    <div id="my-information" class="col-sm-3">
        <ul>
            <p><b>My soft skills</b></p>
            <li>Resilient</li>
            <li>Growth mindset</li>
            <li>Team worker</li>
            <li>Sociable</li>
        </ul>

        <ul>
            <p><b>Laguajes</b></p>
            <li>Spanish: Native</li>
            <li>English: Intermediate </li>
            <li>Quechua: Intermediate</li>
        </ul>

        <ul>
            <p><b>My jobies</b></p>
            <li>Play Chest</li>
            <li>Read books</li>
            <li>Play futbol</li>
            <li>Play poker  </li>
        </ul>
    </div>
</div>
