<script src="../../nav/nav-bar/nav-bar.component.html"></script>

<h2 style="text-align: center;">My developer skills</h2>
<br>
<div class="container text-center">
  <div class="row">
    <div id="tarjeta" class="col-sm-4">
      <img src="../../../assets/python-django-logo.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Django</h5>
        <p class="card-text">
          <li>Eight months of experience</li>
          <li>GitLab were used as repository</li>
          <li>MySql were used as data base</li>
          <li>I learnt to use Git</li>
        </p>

        <div class="accordion accordion-flush" id="my-accordion">
          <div class="accordion-item">
            <h2 class="accordion-header" id="my-accordion-header">
              <button id="see-more" class="btn" type="button" data-bs-toggle="collapse"
                data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                See more details
              </button>
            </h2>
            <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne"
              data-bs-parent="#accordionFlushExample">
              <div class="accordion-body">
                I developed software with Django and their toolkit, Django Rest Framework, for eight months. That was
                my first proyect to one real client after to leave the university.
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div id="tarjeta" class="col-sm-4">
      <img src="../../../assets/dotnet2.png" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">.Net</h5>
        <p class="card-text">
          <li>Five months of experience</li>
          <li>Azure DevOps were used as repository</li>
          <li>Postgres were used as data base</li>
          <li>I learnt a quite about microservices</li>
        </p>

        <div class="accordion accordion-flush" id="my-accordion">
          <div class="accordion-item">
            <h2 class="accordion-header" id="my-accordion-header">
              <button id="see-more" class="btn" type="button" data-bs-toggle="collapse"
                data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseOne">
                See more details
              </button>
            </h2>
            <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingOne"
              data-bs-parent="#accordionFlushExample">
              <div class="accordion-body">
                At this stage I joined a team of developers to support adding new functionalities and fixing some bugs.

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div id="tarjeta" class="col-sm-4">
      <img src="../../../assets/angular3.png" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">AngularJs</h5>
        <p class="card-text">
          <li>Six months of experience</li>
          <li>Bootstrap as main toolkit</li>
          <li>Material UI as secondary toolkit</li>
          <li>I learnt to consume API's</li>
        </p>

        <div class="accordion accordion-flush" id="my-accordion">
          <div class="accordion-item">
            <h2 class="accordion-header" id="my-accordion-header">
              <button id="see-more" class="btn" type="button" data-bs-toggle="collapse"
                data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseOne">
                See more details
              </button>
            </h2>
            <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingOne"
              data-bs-parent="#accordionFlushExample">
              <div class="accordion-body">
                I implemented some CRUDs and changed some components acording the product owner requiremets.
                Currently I am improving as Angular Developer and this personal page can explain you about my short
                experience.
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
  <br>
  <div class="row">
    <div id="tarjeta" class="col-sm-4">
      <img src="../../../assets/docker.webp" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Docker</h5>
        <p class="card-text">
          <li>Three months of experience</li>
          <li>Build images by Dokerfile</li>
          <li>Build and Run images by docker-compose</li>
          <li>Nginx Reverse Proxy to redirect routes</li>
        </p>

        <div class="accordion accordion-flush" id="my-accordion">
          <div class="accordion-item">
            <h2 class="accordion-header" id="my-accordion-header">
              <button id="see-more" class="btn" type="button" data-bs-toggle="collapse"
                data-bs-target="#flush-collapseFour" aria-expanded="false" aria-controls="flush-collapseOne">
                See more details
              </button>
            </h2>
            <div id="flush-collapseFour" class="accordion-collapse collapse" aria-labelledby="flush-headingOne"
              data-bs-parent="#accordionFlushExample">
              <div class="accordion-body">
                Docker called my attention and started to investigate about that, it is wonderfull because allow me
                create somethings as a container. For example I have my PgAdmin and Postgres on containers and I don't
                need to install them locally.
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>

    <div id="tarjeta" class="col-sm-4">
      <img src="../../../assets/devops.png" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">DevOps</h5>
        <p class="card-text">
          <li>Two months of experience</li>
          <li>Manage Azure Devops as a sevice</li>
          <li>Azure Pipilines to implement CI/CD</li>
          <li>Release Pipelines to deplpoy</li>
        </p>

        <div class="accordion accordion-flush" id="my-accordion">
          <div class="accordion-item">
            <h2 class="accordion-header" id="my-accordion-header">
              <button id="see-more" class="btn" type="button" data-bs-toggle="collapse"
                data-bs-target="#flush-collapseFive" aria-expanded="false" aria-controls="flush-collapseOne">
                See more details
              </button>
            </h2>
            <div id="flush-collapseFive" class="accordion-collapse collapse" aria-labelledby="flush-headingOne"
              data-bs-parent="#accordionFlushExample">
              <div class="accordion-body">
                After to learn about docker my next step was investigate some thing about devops specially Azure
                Devops, with this SaaS I learnt to build pipelines to build and push images to DockerHub, releases to
                deploy by minikube and by agent(locally).
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
    <div id="tarjeta" class="col-sm-4">
      <h2><b>My progress</b></h2>
      <br>
      <div class="progress" style="height: 35px;">
        <div class="progress-bar" id="django" role="progressbar" aria-label="django" style="width: 70%"
          aria-valuenow="70" aria-valuemin="0" aria-valuemax="100">Django</div>
      </div>
      <br>
      <div class="progress" style="height: 35px;">
        <div class="progress-bar" id="dotnet" role="progressbar" aria-label="dotnet" style="width: 30%"
          aria-valuenow="30" aria-valuemin="0" aria-valuemax="100">.Net</div>
      </div>
      <br>
      <div class="progress" style="height: 35px;">
        <div class="progress-bar" id="angularJs" role="progressbar" aria-label="angularJs" style="width: 60%"
          aria-valuenow="60" aria-valuemin="0" aria-valuemax="100">AngularJs</div>
      </div>
      <br>
      <div class="progress" style="height: 35px;">
        <div class="progress-bar" id="docker" role="progressbar" aria-label="docker" style="width: 65%"
          aria-valuenow="65" aria-valuemin="0" aria-valuemax="100">Docker</div>
      </div>
      <br>
      <div class="progress" style="height: 35px;">
        <div class="progress-bar" id="devOps" role="progressbar" aria-label="devOps" style="width: 30%"
          aria-valuenow="30" aria-valuemin="0" aria-valuemax="100">DevOps</div>
      </div>
    </div>
  </div>
  <br>