img {
    width: 200px;
    height: 120px;
    border: 1px solid white;
}

#see-more {
    background-color: rebeccapurple;
    color: white;
}

#my-accordion {
    background-color: black;
    color: white;
}

#my-accordion-header {
    background-color: black;
}

#flush-collapseOne {
    background-color: black;
    color: white;
}

#flush-collapseTwo {
    background-color: black;
    color: white;
}

#flush-collapseThree {
    background-color: black;
    color: white;
}

#flush-collapseFour {
    background-color: black;
    color: white;
}

#flush-collapseFive {
    background-color: black;
    color: white;
}

#django {
    background-color: seagreen;
}

#dotnet {
    background-color: darkmagenta;
}

#angularJs {
    background-color: crimson;
}

#docker {
    background-color: midnightblue;
}

#devOps {
    background-color: dodgerblue;
}

#tarjeta {
    border: 20px solid #6a6abe;
}