<h2 style="text-align: center;">My personal growth</h2>
<br>
<div class="row">
  <div class="col-sm-3">
    <div class="card">
      <img src="../../../assets/caeneLima.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">CAENE Network youngers</h5>
        <p class="card-text">
          CAENE Network is an important Network formed by peruavian younger leaderes that is always looking for to
          connect the private investment, the academy and the goberment.
          CAENE is focused on sharing learning spaces and this is important to support the continue improving on the
          education, economy and consequently in the society.
          In this photo there are people of different peruavian regions like Arequipa, Lambayeque, Tumbes, Cajamarca,
          Lima, Puno and of course, Cusco.
        </p>

      </div>
    </div>
  </div>
  <div class="col-sm-3">
    <div class="card">
      <img src="../../../assets/oscarCaipo.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Oscar Caipo, CONFIEP</h5>
        <p class="card-text">
          At "Parque de la exposicion" of Lima I had a short conversation with Oscar Caipo about the peruvian politic
          crisis.
        </p>

      </div>
    </div>
  </div>
  <div class="col-sm-3">
    <div class="card">
      <img src="../../../assets/excelencia.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Participating in politics</h5>
        <p class="card-text">
          Three years ago all people in the photo had the purpose of support in academic, culture and political agenda
          of the university.
          Of course, currently each one is working acording their speciality but always trying to support in our
          society.
          I my case, I am always interested on follow adding forces to solving different kind of problems of the
          peruvian reality.
        </p>

      </div>
    </div>
  </div>
  <div class="col-sm-3">
    <div class="card">
      <img src="../../../assets/edMalaga.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Conversation with Edward Malaga, Congressman of the Republic</h5>
        <p class="card-text">
          It was a wonderful opportunity to talk with Edward Málaga about Public Politics, Environmental Crisis and many
          other things like technology, mining, poverty and society problems that concern us in different scenarios of
          our reality.

        </p>

      </div>
    </div>
  </div>
</div>
<br>
<div class="row">
  <div class="col-sm-3">
    <div class="card">
      <img src="../../../assets/ciencias.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Ciencias High school classmates</h5>
        <p class="card-text">
          Five years after leaving the high school is traditional to have meeting each third sunday of August called
          "Reencuentro Cienciano".
        </p>

      </div>
    </div>
  </div>
  <div class="col-sm-3">
    <div class="card">
      <img src="../../../assets/money.jpeg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Software developer friends</h5>
        <p class="card-text">
          Taking vacation on Quillabamaba city with Money Express developers.
        </p>

      </div>
    </div>
  </div>

  <div class="col-sm-3">
    <div class="card">
      <img src="../../../assets/info.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">In my career with begining people in System Ingeneering</h5>
        <p class="card-text">
          As student I had the opportunity to be president of System Ingeneering at Unsaac University.
        </p>

      </div>
    </div>
  </div>

  <div class="col-sm-3">
    <div class="card">
      <img src="../../../assets/ayacucho2.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Ayacucho city - Main square</h5>
        <p class="card-text">
          I like to travel a lot, this was my last trip visiting Ayacucho City. Of course, it was also a wonderful
          experience because I knew new people, I had new experiences and many other things.
        </p>

      </div>
    </div>
  </div>
</div>
<br>
<div class="row">
  <div class="col-sm-3">
    <div class="card">
      <img src="../../../assets/unsaac.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Unsaac University - Cusco</h5>
        <p class="card-text">
          This is an iconic place at the university, after graduation people are used to take photos here.
        </p>

      </div>
    </div>
  </div>

  <div class="col-sm-3">
    <div class="card">
      <img src="../../../assets/friend2.jpeg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">With my friends - Near the sacred valley in Cusco</h5>
        <p class="card-text">
          In my birthday we had a funny meeting near the sacred valley of Cusco. I knew them at the university as System
          Engineering student.
          They are also good software developers.
        </p>

      </div>
    </div>
  </div>
  <div class="col-sm-3">
    <div class="card">
      <img src="../../../assets/startup2.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Photo with Edwin Bernal - Colombian people</h5>
        <p class="card-text">
          Some years ago, I participated on an event called StartupWeekend where Edwin Bernal were the coach who was
          guiding all groups in different kind of projects.
        </p>

      </div>
    </div>
  </div>
  <div class="col-sm-3">
    <div class="card">
      <img src="../../../assets/trujillo.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Visiting Trujillo City</h5>
        <p class="card-text">
          As I said I like travel, so I would like to follow traveling. To be software developer allow me to fulfill my
          dreams because when you work remotely you can send your task from anywhere.
        </p>

      </div>
    </div>
  </div>
</div>